<p>header works!</p>

<nav class="navbar bg-light flex-wrap">
    <div class="container=fluid d-flex col-lg-12">
        <div class=" d-flex col-lg-12">
           <span class="col-lg-2"> 
            <a class="navbar-brand" href="#">
              <img src="../../../assets/og.png" alt="logo" width="149" height="40" class="d-inline-block align-text-top">
            </a>
          </span>
<div class="col-lg-6  justify-content-center">
            <span class="col-lg-2 ">
                <a href="#">
                <li style="text-align: center; font-size: x-large">Go to Web To App</li>
            </a>
            </span>
          </div>

            <div class="dropdown  d-flex  align-content-end   ">
              <button class="btn btn-secondary dropdown-toggle " type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown button
              </button>
              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                <li><a class="dropdown-item active" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Separated link</a></li>
              </ul>
            </div>
          </div>
     
     
     
          <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </nav>
