Gear offer
<app-header></app-header>


<div class="col-lg-12 d-flex">

 

<div class="col-lg-2">
  <ul class="list-group">
    <li class="list-group-item active" aria-current="true">Category</li>
    <li class="list-group-item">Mobiles</li>
    <li class="list-group-item">Televisions</li>
    <li class="list-group-item">Cameras</li>
    <li class="list-group-item">Laptops</li>
  </ul>
</div>

<div class="col-lg-10">
  <button class="btn btn-warning">swit ch</button>
  
  </div>





</div>



<router-outlet></router-outlet>